.body{
    width:80%;
    background-color:#9d9d9d;
    margin:auto;
    padding-bottom:90px;
}
h1{
    display: inline-block;
    width:40%;
    vertical-align: top;
    margin-left:5%;
}
textarea{
    margin-left:13%;
}
.message{
    padding-left:10%;
}
form{
    margin-top:20px;
    width:50%;
    display: inline-block;
    margin-left: 4%;
}
iframe{
    width:50%;
    display: block;
    margin:0px auto;
    height:300px;
}
