<<<<<<< HEAD
body , html{
  margin: 0;
  padding: 0;
  color: white;
  font-family: "source sans pro", Arial, Helvetica, sans-serif;
=======

















































footer {
  background-color:#9d9d9d;
  position: absolute;
  bottom: 0;
  padding-top:2px;
  padding-bottom: 2px;
>>>>>>> 94f23a2c9d89f8daa04d281b1f2ad97abf8aca93
}
