
/*Stan WIP*/
body , html{
  margin: 0;
  padding: 0;
  color: white;
  font-family: "source sans pro", Arial, Helvetica, sans-serif;}

.textcontainer{
background-color:#9d9d9d;
height: 300px;
width: 400px;
}


































/*end stan WIP */










/*Joshua Header YEE! */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header {
  width: 100%;
  background-color: #9d9d9d;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 30px;
  border-bottom: 5px solid #740de1;
}
.container .header ul {
  margin-top: -7%;
  margin-right: auto;
  margin-bottom: 3%;
  margin-left: auto;
  padding-top: 1.5%;
  padding-left: 6%;
  padding-bottom: 1.5%;
  width: auto;
}
.header ul li {
  list-style: none;
  float: left;
  margin-right: auto;
  margin-top: 3%;
  font-family: "Source Sans Pro";
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 2px;
  margin-left: 9%;
  text-align: center;
  transition: all 0.3s linear;
}
.header ul li:hover {
  color: #740de1;
  cursor: pointer;
}

.logo {
  width: 100px;
}
/* End Header YEEE!! */

































































































/* Wout WIP begin */
footer {
  text-align: center;
  background-color:#9d9d9d;
  position: absolute;
  bottom: 0;
  padding-top: 8px;
  padding-bottom:8px;
  border-top: 5px solid;
  border-color: #740de1;
  width:100%;
}

.footerlink {
  color:white;
}






































/*Wout WIP end */
