
/*Stan WIP*/
body , html{
  margin: 0;
  padding: 0;
  color: white;
  font-family: "source sans pro", Arial, Helvetica, sans-serif;}

.textcontainer{
background-color:#9d9d9d;
height: 300px;
width: 400px;
}


































/*end stan WIP */

/*Joshua Header YEE! */
.container {
  background-color: #FFFFFF;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-bottom-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.header {
  width: 100%;
  background-color: #9d9d9d;
  padding-top: 10px;
  padding-bottom: 10px;
  clear: left;
  border-bottom: 5px solid #740de1;
}
.container .header ul {
  margin-top: 0%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
  width: 100%;
}
.header ul li {
  list-style: none;
  float: left;
  margin-right: auto;
  margin-top: 0px;
  font-family: "Source Sans Pro";
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 1px;
  margin-left: auto;
  text-align: center;
  width: 16%;
  transition: all 0.3s linear;
}
.header ul li:hover {
  color: #740de1;
  cursor: pointer;
}
/* End Header YEEE!! */

































































































/* Wout WIP begin */
footer {
  text-align: center;
  background-color:#9d9d9d;
  position: absolute;
  bottom: 0;
  padding-top: 8px;
  padding-bottom:8px;
  border-top: 5px solid;
  border-color: #740de1;
  width:100%;
}

.footerlink {
  color:white;
}






































/*Wout WIP end */
