p{
    width:45%;
    display:inline-block;
    margin:10px 2.4%;
}
.auto{
    width:45%;
    margin:0px 2.4%;
}
.tekst1{
    margin-top:100px;
}
.body{
    margin:auto;
    width:80%;
    background-color:#9d9d9d;
}
