h4, p{
    margin:0px;
    padding:5px 25px;
}
.text-container{
    height:900px;
    vertical-align: top;
    padding: 40px;
}
.reg-container{
  padding:10px;
  background-color: #740de1;
    margin: 0 auto;
  width: 60%;
  color: white;
  border-radius: 50px;
}

table{
    margin: 0 auto;
}

td {
  vertical-align:top;

  padding: 30px;
}
